/MVC_Esdeveniments/nbproject/private/
/MVC_Esdeveniments/build/
/Entrega_1/nbproject/private/
/Entrega_1/build/
/Entrega_0/nbproject/private/
/Entrega_3/build/
/Entrega_4/nbproject/private/
/Entrega_4/build/
/Entrega_4/dist/
/Entrega_5/Entrega_5/nbproject/private/
/Entrega_5/Entrega_5/build/
/Entrega_5/Entrega_5/dist/
/Entrega_5/nbproject/private/
/Entrega_5/dist/
/Entrega_5/build/
/PruebaOpcional/build/
/PruebaOpcional/dist/
/PruebaOpcional/nbproject/private/
/Entrega_6(Opcional)/build/
/Entrega_6(Opcional)/dist/
/Entrega_6(Opcional)/nbproject/private/
/Entrega_7/nbproject/private/
/Entrega_7/build/